name: Publish to PyPI

on:
  push:
    tags:
     - '*'
  workflow_dispatch:

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv
      run: curl -LsSf https://astral.sh/uv/0.6.6/install.sh | sh

    - name: Build package
      run: uvx --from build pyproject-build --installer uv

    - name: Publish to pypi
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: uvx twine upload dist/*
